<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a8b533ae-9ba5-40e2-9b62-aabb74a09d27/resourcegroups/appsvc_windows_centralus/providers/Microsoft.ContainerRegistry/registries/SnakeGame20221013091912</ResourceId>
    <ResourceName>SnakeGame20221013091912</ResourceName>
    <ResourceGroup>appsvc_windows_centralus</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://snakegame20221013091912.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>